* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #bebebe;
  height: 100%;
}

.project-container {
  background-color: #bcbaba;
  min-height: 100vh;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.project-header-container {
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.project-title-container {
  padding: 50px;
  background-color: #424141;
  border-radius: 10px;
  border: 1px solid white;
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.tags-container {
  margin-top: 15px;
  padding: 20px;
  background-color: #111;
  border-radius: 10px;
  border: 1px solid white;
  max-width: 1000px;
  margin-right: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.readme-container {
  padding: 600px;
  background-color: #111;
  border-radius: 10px;
  border: 1px solid white;
  max-width: 1000px;
  width: 100%;
  margin-top: 20px;
}

/* Buttons */
/* .github-button {
  margin-top: 20px;
  bottom: -35px;
  left: -250px;
} */

/* Buttons */

.go-back {
  margin-top: 20px;
  left: 0px;
  top: -20px;
  position: fixed;
  width: 6.5em;
  height: 2.25em;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-size: 1.25em;
}

.go-back:hover {
  cursor: pointer;
}

.github-button {
  margin-top: 20px;
  position: fixed;
  bottom: -35px;
  left: -350px;
}

@media screen and (max-width: 768px) {
  .github-button {
    bottom: -35px;
    left: -380px;
  }
}

.star-chip-container,
.chip-container,
.size-chip-container,
.forked-chip-container {
  margin-top: -115px;
  margin-right: 20px;
}
