* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #333;
  height: 100%;
}

.project-container {
  background-color: #333;
  min-height: 100vh;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.project-header-container {
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap; /* Wrap elements if they exceed the container's width */
  justify-content: space-between; /* Spacing between elements */
  align-items: center; /* Center the content vertically */
  margin-top: 20px;
}

.project-title-container {
  padding: 50px;
  background-color: #111;
  border-radius: 10px;
  border: 1px solid white;
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.tags-container {
  margin-top: 15px;
  padding: 20px;
  background-color: #111;
  border-radius: 10px;
  border: 1px solid white;
  max-width: 1000px;
  margin-right: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Buttons */
.github-button {
  margin-top: 20px;
  bottom: -35px;
  left: -250px;
}

.star-chip-container,
.chip-container,
.size-chip-container,
.forked-chip-container {
  margin-top: -115px;
  margin-right: 20px;
}



